/* COLOR PALLETE */

    // Blues
    $blue7: #203d54;
    $blue6: #1a4971;
    $blue5: #2368a2;
    $blue4: #3183c8;
    $blue3: #63a2d8;
    $blue2: #aad4f5;
    $blue1: #aad4f5;

    // Greys
    $grey7: #212934;
    $grey6: #212934;
    $grey5: #8895a7;
    $grey4: #b8c4ce;
    $grey3: #cfd6de;
    $grey2: #e1e7ec;
    $grey1: #f8f9fa;

    // Blue Greens
    $bluegreen7: #124544;
    $bluegreen6: #1b655e;
    $bluegreen5: #2a9187;
    $bluegreen4: #3caea3;
    $bluegreen3: #6ed7d3;
    $bluegreen2: #a8eeeb;
    $bluegreen1: #e7fffe;

    // Greens
    $green7: #145239;
    $green6: #145239;
    $green5: #259d58;
    $green4: #38c172;
    $green3: #74d99f;
    $green2: #a8eec1;
    $green1: #e3fcec;

    // Yellows
    $yellow7: #5c4813;
    $yellow6: #8c6d1f;
    $yellow5: #caa53d;
    $yellow4: #f4ca64;
    $yellow3: #fae29f;
    $yellow2: #fdf3d7;
    $yellow1: #fffcf4;

    // Reds
    $red7: #611818;
    $red6: #891b1b;
    $red5: #b82020;
    $red4: #dc3030;
    $red3: #e46464;
    $red2: #f5aaaa;
    $red1: #fce8e8;
